/* Styling for jumbotron's image */
.jumbotron-fluid {
    background-image: url("weather.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Styling for "Weather Dashboard" title in jumbotron */
.display-4 {
    font-weight: bold;
}